.reviews {
    width: 100%;
    padding: 60px 20px;
    background: url(abcd.jpg) no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 1;
}

/* Heading */
.reviews h1 {
    text-align: center;
    font-size: 42px;
    color: #344e41;
    margin-bottom: 50px;
    font-weight: 700;
}

* Each Review Card */
.review_card {
    background: #EFD3D6;
    width: 300px;
    padding: 25px 20px;
    border-radius: 24px;
    box-shadow: 0 12px 24px rgba(183, 208, 212, 0.2);
    position: relative;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.review_card:hover {
    transform: translateY(-8px);
    box-shadow: 0 14px 28px rgba(183, 208, 212, 0.3);
}

/* Reviewer Image */
.card_top img {
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #bcb8b1;
    margin-bottom: 14px;
}

quote-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
    color: #d6ccc2;
}

/* Reviewer Name */
.card_content h2 {
    font-size: 18px;
    font-weight: 600;
    color: #344e41;
    margin-bottom: 10px;
}

/* Review Text */
.card_content p {
    font-size: 14px;
    color: #5f7161;
    line-height: 1.6;
}
