.reviews {
    width: 100%;
    padding: 60px 20px;
    background: url(abcd.jpg) no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 1;
}

/* Heading */
.reviews h1 {
    text-align: center;
    font-size: 42px;
    color: #344e41;
    margin-bottom: 50px;
    font-weight: 700;
}
